html {
  font-family: "Merriweather", serif;
  font-size: 10px;
  overflow-wrap: break-word;
}

.header__body,
.header__img {
  position: relative;
}

/* CONTAINER */

[class*="__container"] {
  max-width: 1292px;
  margin: 0 auto;
}

.article__container {
  max-width: 922px;
  padding: 15px;
}

/* ******************** */

.header__img {
  width: 100%;
  vertical-align: middle;
}

.header__background {
  position: relative;
}

.header__background::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.76);
}

.header__navigation {
  position: absolute;
  top: 50px;
  left: 9vw;
}

.header__list {
  display: flex;
  align-items: center;
  padding: 0;
}

.header__logo,
.author {
  list-style-type: none;
}

@media (max-width: 992px) {
  .header__list {
    flex-direction: column;
    align-items: center-end;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
  }
}

@media (max-width: 500px) {
  .header__navigation {
    top: 10px;
  }
}

.header__logo {
  position: relative;
}

.logo {
  color: #c03e3e;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.25;
  text-decoration: none;
  transition: all 0.8s ease 0s;
}

.logo:hover {
  color: #9c0909;
}

@media (max-width: 768px) {
  .logo {
    font-size: 4rem;
    line-height: 1;
  }
}

.header__logo::before {
  position: absolute;
  content: "";
  width: 72px;
  border: 3px solid #9c0909;
  background-color: #9c0909;
  bottom: -16px;
}

@media (max-width: 992px) {
  .header__logo {
    font-size: 5rem;
    line-height: 1;
  }

  .header__logo::before {
    display: none;
  }
}

.author {
  display: flex;
  padding: 0px 0px 0px 100px;
}

@media (max-width: 992px) {
  .author {
    padding: 0;
  }
}

.author img {
  width: 54px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.author__text {
  margin: auto 0px auto 14px;
}

.author__text p {
  margin: 0;
}

.author__name,
.author__date {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.85);
}

.author__name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.28;
  color: #2b1111;
}

.author__date {
  font-size: 1.4rem;
  line-height: 1.29;
}

@media (max-width: 768px) {
  .author img {
    display: none;
  }

  .author__date {
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .author__text {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .author__name {
    font-size: 1.4rem;
    padding-right: 10px;
  }

  .author__date {
    font-size: 1.2rem;
    padding-left: 10px;
  }
}

.header__title {
  position: absolute;
  z-index: 3;
  top: 52%;
  left: 9vw;
  font-size: 9.6rem;
  line-height: 1.26;
  color: #201c1c;
}

.header__subtitle {
  position: absolute;
  top: 78%;
  right: 5vw;
  z-index: 3;
  font-size: 3.2rem;
  line-height: 1.25;
  color: #2b1111;
  max-width: 30%;
  padding-top: 10px;
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 7rem;
    line-height: 1.07;
  }

  .header__subtitle {
    font-size: 2.7rem;
    max-width: 40%;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 5rem;
    line-height: 1;
  }

  .header__subtitle {
    font-size: 2.4rem;
    max-width: 60%;
    margin-left: auto;
    padding-right: 10%;
  }
}

@media (max-width: 820px) {
  .header__title {
    font-size: 4rem;
    line-height: 1.13;
    top: 50%;
  }

  .header__subtitle {
    position: static;
    background: none;
    font-size: 2rem;
    max-width: 70%;
    padding-right: 10%;
  }
}

@media (max-width: 560px) {
  .header__title {
    top: 40%;
    font-size: 3.6rem;
    line-height: 1.25;
  }

  .header__subtitle {
    font-size: 1.8rem;
    line-height: 1.28;
    max-width: 70%;
    margin-top: 40px;
    padding-right: 10%;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 3.6rem;
    line-height: 0.84;
  }

  .header__subtitle {
    font-size: 1.8rem;
    line-height: 1.28;
    max-width: 70%;
    margin-top: 55px;
    padding-right: 5%;
  }
}

/* ARTICLE */

.article__text {
  margin-top: 8.6%;
  max-width: 670px;
}

.article__text p {
  font-size: 1.8rem;
  line-height: 1.72;
  padding: 0;
}

@media (max-width: 1260px) {
  .article__text {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
  }
}

@media (max-width: 992px) {
  .article__text {
    margin-top: 25px;
  }
}

@media (max-width: 700px) {
  .article__text {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .article__text p {
    font-size: 1.4rem;
    line-height: 1.71;
  }
}

/* BLOCK */

.block__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.block__text {
  max-width: 367px;
  font-size: 3.6rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  color: #c52c2c;
  align-self: center;
  padding: 0px 110px 0px 112px;
  overflow: clip;
}

.block__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1260px) {
  .block__text {
    font-size: 3rem;
    line-height: 1.33;
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 992px) {
  .block__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .block__gallery {
    padding: 0px 0px 22px 0px;
  }

  .block__text {
    max-width: max-content;
    min-width: 320px;
    font-size: 2.6rem;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  .block__text {
    font-size: 1.8rem;
    line-height: 1;
    padding-left: 35px;
    padding-right: 35px;
    padding: 0px 35px 10px 35px;
    min-width: min-content;
  }
}
