* {
  font-family: "Merriweather", "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.wrapper {
  max-width: 1510px;
  margin: 0 auto;
}

.header__body,
.header__img {
  position: relative;
}

.header__img img {
  position: relative;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.76);
}

.header__navigation {
  position: absolute;
  top: 50px;
  left: 8.68%;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .header__navigation {
    flex-direction: column;
    align-items: center-end;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
  }
}

.header__logo {
  color: #c03e3e;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  position: relative;
}

@media (max-width: 768px) {
  .header__logo {
    font-size: 40px;
    line-height: 40px;
  }
}

.header__logo::before {
  position: absolute;
  content: "";
  width: 72px;
  border: 3px solid #9c0909;
  background-color: #9c0909;
  bottom: -16px;
}

@media (max-width: 992px) {
  .header__logo {
    font-size: 50px;
    line-height: 50px;
  }

  .header__logo::before {
    display: none;
  }
}

.author {
  display: flex;
  padding: 0px 0px 0px 100px;
}

@media (max-width: 992px) {
  .author {
    padding: 0px 0px 0px 0px;
  }
}

.author img {
  width: 54px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.author__text {
  margin: auto 0px auto 14px;
}

.author__text p {
  margin: 0px 0px 0px 0px;
}

.author__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #2b1111;
}

.author__date {
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 768px) {
  .author img {
    display: none;
  }
}

.header__container {
  position: absolute;
  z-index: 3;
  top: 53%;
  left: 8.3%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .header__container {
    left: 3%;
  }
}

.header__title {
  font-size: 96px;
  line-height: 121px;
  color: #201c1c;
}

.header__subtitle {
  font-size: 32px;
  line-height: 40px;
  color: #2b1111;
  max-width: 28%;
  align-self: end;
  padding-top: 10px;
  padding-right: 19%;
}

@media (max-width: 1260px) {
  .header__title {
    font-size: 75px;
    line-height: 80px;
  }

  .header__subtitle {
    font-size: 28px;
    max-width: 30%;
    padding-right: 10%;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 50px;
    line-height: 50px;
  }

  .header__subtitle {
    font-size: 24px;
    max-width: 60%;
    padding-right: 10%;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 40px;
    line-height: 45px;
  }

  .header__subtitle {
    font-size: 20px;
    max-width: 70%;
    padding-right: 10%;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 36px;
    line-height: 45px;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 23px;
    max-width: 70%;
    padding-right: 10%;
  }
}

@media (max-width: 480px) {
  .header__title {
    line-height: 30px;
  }

  .header__subtitle {
    max-width: 90%;
    padding: 0 auto;
  }
}

.article__text {
  margin: 8.6% 20px 0px 316px;
  max-width: 41.52%;
}

.article__text p {
  line-height: 30.82px;
  padding: 0px 0px 25px 0px;
}

@media (max-width: 1260px) {
  .article__text {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (max-width: 992px) {
  .article__text {
    margin-top: 8.6%;
  }
}

@media (max-width: 700px) {
  .article__text {
    margin-top: 16%;
  }
}

@media (max-width: 480px) {
  .article__text {
    margin-top: 22%;
  }

  .article__text p {
    font-size: 14px;
    line-height: 23.97px;
  }
}

@media (max-width: 370px) {
  .article__text {
    margin-top: 40%;
  }
}

.block__container {
  display: flex;
  justify-content: space-between;
}

.block__text {
  max-width: 367px;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #c52c2c;
  align-self: center;
  padding: 0px 110px 0px 112px;
}

.block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1260px) {
  .block__text {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 992px) {
  .block__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .block__img {
    padding: 0px 0px 22px 0px;
  }

  .block__text {
    max-width: max-content;
    min-width: 320px;
    font-size: 26px;
    line-height: 26px;
  }
}

@media (max-width: 480px) {
  .block__text {
    font-size: 18px;
    line-height: 19.63px;
    padding-left: 35px;
    padding-right: 35px;
    padding: 0px 35px 10px 35px;
    min-width: min-content;
  }
}
